.logo{
    width: 25%;
    float: left;
    margin-left: 37%;
    margin-top: 1%;
}

html{
    background-image: url(https://pro2-bar-s3-cdn-cf.myportfolio.com/ec1b3687-e237-4c2e-be21-208a9104a386/b472cb1c-8931-4d7b-990d-9526d15b1310.jpg?h=f0efa2e7dcb56064e3633f297f735463); 
    background-size: cover;

}

.box1{
    height: 70px;
    width: 210px;
    background-color: black;
    float: left;
    margin-top: 13%;
    margin-left: -50%;
}

.box2{
    height: 70px;
    width: 210px;
    background-color: black;
    float: left;
    margin-top: 13%;
    margin-left: -30%;
}

.box3{
    height: 70px;
    width: 210px;
    background-color: black;
    float: left;
    margin-top: 13%;
    margin-left: -10%;
}

.box4{
    height: 70px;
    width: 210px;
    background-color: black;
    float: left;
    margin-top: 13%;
    margin-left: 10%;
}

.box5{
    height: 450px;
    width: 550px;
    background-color: rgba(255, 255, 255, 0.534);
    float: left;
    margin-top: 6%;
    margin-left: 12%;
}
.box6{
    height: 450px;
    width: 550px;
    background-color: rgba(255, 255, 255, 0.534);
    float: left;
    margin-top: 6%;
    margin-left: 12%;
}
.text1{
    line-height: 130%;
    margin-left: 2%;
}