
body{
    background-color: #d4fddd;

}
main{
    border: 5px dotted navy;
    width: 900px;
    margin: auto;
    padding: 20px;

}

.header{
    text-align: center;
    font-size: 35px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: navy;
    padding: 20px;

}

.quotes{
    font-size: 17px;
    font-family: Courier, monospace;
    color: navy;
    text-align: center;
}


footer{
    text-align: center;
    padding: 20px;
}